@*@model IEnumerable<AllShowDTO.ShopSettingDTO>*@
@model PaginatedList<ShopSettingDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<p>
    <a asp-area="Admin" asp-action="Create" class="btn btn-primary">新增廠商</a>
</p>
@await Html.PartialAsync("_AdminSearchDataPartial",
                                new ViewDataDictionary(ViewData)
                                {
                                    { "Act", "Shop" }
                                })
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ShLogoPic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ShName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().EmpName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ShBoss)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ShContact)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ShTel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ShPopShopDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ShCheckStateDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ShPwdStateDesc)
            </th>           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @{
                    string imgUrl = Url.Action("ShowImages", "FilesUpload", new { Area = "", id = item.ShLogoPic });
                }
                <img width="100" height="100" src="@imgUrl" asp-append-version="true">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShBoss)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShContact)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.ShTel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShPopShopDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShCheckStateDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShPwdStateDesc)
            </td>           
            <td>
                <a asp-area="Admin" asp-action="Edit" asp-route-sId="@item.Id" class="btn btn-warning">編輯</a> |
                <a asp-area="Admin" asp-action="Details" asp-route-Id="@item.Id" class="btn btn-info">詳細</a> |
                <a asp-area="Admin" asp-action="Delete" asp-route-sId="@item.Id" onclick="return confirm('確定要刪除嗎?');" class="btn btn-danger">刪除</a>
            </td>
        </tr>
}
    </tbody>
</table>

@await Html.PartialAsync("_PageNumPartial",
                                new ViewDataDictionary(ViewData)
                                {
                                    { "HasPreviousPage", Model.HasPreviousPage },
                                    { "HasNextPage", Model.HasNextPage },
                                    { "PageIndex", Model.PageIndex },
                                    { "TotalPages", Model.TotalPages },
                                })
@section Scripts{
    <script src="~/scripts/Admin/Shop/Index.js"></script>
}