@*@model IEnumerable<EmployeeSettingDTO>*@
@model PaginatedList<EmployeeSettingDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<p>
    <a asp-area="Admin" asp-action="Create" class="btn btn-primary">新增員工</a>
</p>
@await Html.PartialAsync("_AdminSearchDataPartial",
                                new ViewDataDictionary(ViewData)
                                {
                                    { "Act", "Employee" }
                                })
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().EmpName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().EmpSexDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().EmpBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().EmpTel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().HireDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().LeaveDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().EmpAccountStateDesc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpSexDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpTel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpAccountStateDesc)
            </td>                       
            <td>
                <a asp-area="Admin" asp-action="Edit" asp-route-AuserId="@item.AuserId" asp-route-eId="@item.Id" class="btn btn-warning">編輯</a> |
                <a asp-area="Admin" asp-action="Details" asp-route-AuserId="@item.AuserId" asp-route-eId="@item.Id" class="btn btn-info">詳細</a> |
                <a asp-area="Admin" asp-action="Delete" asp-route-AuserId="@item.AuserId" asp-route-eId="@item.Id" onclick="return confirm('確定要刪除嗎?');" class="btn btn-danger">刪除</a>
            </td>
        </tr>
}
    </tbody>
</table>

@await Html.PartialAsync("_PageNumPartial",
                                new ViewDataDictionary(ViewData)
                                {
                                    { "HasPreviousPage", Model.HasPreviousPage },
                                    { "HasNextPage", Model.HasNextPage },
                                    { "PageIndex", Model.PageIndex },
                                    { "TotalPages", Model.TotalPages },
                                })
@section Scripts{
    <script src="~/scripts/Admin/Employee/Index.js"></script>
}