@inject IHtmlLocalizer<SharedResources> _localizer

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - AllShow</title>
    <link rel="stylesheet" href="~/vendor/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/vendor/bootstrap-vue/dist/bootstrap-vue.min.css" /> 
    <script src="~/vendor/jquery/dist/jquery.js"></script>
    <script src="~/vendor/bootstrap/dist/js/bootstrap.js"></script>  
    <script src="~/vendor/vue/dist/vue.js"></script>
    <script src="~/vendor/bootstrap-vue/dist/bootstrap-vue.min.js"></script>
    <script src="~/vendor/axios/dist/axios.js"></script>
    <script>
        var baseInstance = axios.create({
            baseURL: window.location.origin
        });
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">AllShow</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">                   
                    @await Html.PartialAsync("_LoginPartial");       
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin"  asp-controller="Employee" asp-action="Index">員工管理</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin"  asp-controller="Shop" asp-action="Index">商店管理</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin"  asp-controller="Member" asp-action="Index">會員管理</a>
                        </li>
                    </ul>               
                </div>
            </div>
        </nav>
    </header>

    <div class="container mt-3">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top text-muted ">
        <div class="row">
            <div class="col-md-6">
                &copy; @DateTime.Now.Year - @_localizer["SysBulidBy"] <a href="#">XXX</a>
            </div>
            <div class="col-md-6 text-right">
                @await Html.PartialAsync("_SelectLanguagePartial")
            </div>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)

</body>
</html>
