@model AllShowDTO.ShopSettingDTO
@{
    Layout = null;
}
<p class="card-text text-secondary">@Html.DisplayNameFor(model => model.ShName)：@Html.DisplayFor(model => model.ShName)</p>
<p class="card-text text-secondary">@Html.DisplayNameFor(model => model.ShAccount)：@Html.DisplayFor(model => model.ShAccount)</p>
<p class="card-text text-secondary">@Html.DisplayNameFor(model => model.ShBoss)：@Html.DisplayFor(model => model.ShBoss)</p> 
<p class="card-text text-secondary">@Html.DisplayNameFor(model => model.ShContact)：@Html.DisplayFor(model => model.ShContact)</p>
<p class="card-text text-secondary">@Html.DisplayNameFor(model => model.ShEmail)：@Html.DisplayFor(model => model.ShEmail)</p>  
<p class="card-text text-secondary">@Html.DisplayNameFor(model => model.ShAddress)：@Html.DisplayFor(model => model.ShAddress)</p>
<p class="card-text text-secondary">@Html.DisplayNameFor(model => model.ShTel)：@Html.DisplayFor(model => model.ShTel)</p>
<p class="card-text text-secondary">@Html.DisplayNameFor(model => model.ShUrl)：@Html.DisplayFor(model => model.ShUrl)</p>
 
